<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
		<rewrite>
			<rules>
				<rule name="slim catch all" enabled="true">
					<match url=".*" />
					<action type="Rewrite" url="/index.php" />
					<conditions>
						<add input="{URL}" pattern="/Views/.*" negate="true" />
						<add input="{URL}" pattern="/Java/.*" negate="true" />
						<add input="{URL}" pattern="/phpmyadmin/.*" negate="true" />
					</conditions>
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file" />
		</staticContent>
    </system.webServer>
</configuration>